[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
base58 = "*"
cbor2 = "*"
dapiclient = "*"
derpconf = "*"
grpcio = "*"
libthumbor = "*"
protobuf = "*"
requests = "*"
sentry-sdk = "*"
thumbor = "7.0.0a5"
tornado = "*"

[dev-packages]
bleach = "*"
certifi = "*"
charset-normalizer = "*"
circus = "*"
circus-web = "*"
colorama = "*"
colorful = "*"
docutils = "*"
envtpl = "*"
idna = "*"
importlib-metadata = "*"
keyring = "*"
mock = "*"
numpy = "*"
opencv-python-headless = "*"
pep517 = "*"
pipenv = "*"
pkginfo = "*"
preggy = "*"
Pygments = "*"
pyparsing = "*"
pytz = "*"
readme-renderer = "*"
requests-toolbelt = "*"
rfc3986 = "*"
six = "*"
SSIM-PIL = "*"
statsd = "*"
tomli = "*"
tqdm = "*"
urllib3 = "*"
webcolors = "*"
webencodings = "*"
zipp = "*"

[requires]
python_version = "3.9"
