base58>=2.1.0
cbor2>=5.4.0
certifi>=2021.5.30
charset-normalizer>=2.0.3
colorful>=0.5.4
dapiclient>=0.0.1
derpconf>=0.8.3
grpcio>=1.39.0
idna>=3.2
libthumbor>=2.0.1
numpy>=1.21.1
opencv-python-headless>=4.5.3.56
Pillow>=8.2.0
protobuf>=3.17.3
pytz>=2019.3
requests>=2.26.0
six>=1.16.0
statsd>=3.3.0
thumbor==7.0.0a5
tornado>=6.1
urllib3>=1.26.6
webcolors>=1.11.1
