attrs==21.4.0
backports.entry-points-selectable==1.1.0
base58==2.1.1
bleach==5.0.0
build==0.8.0
cbor2==5.4.2.post1
certifi==2021.5.30
charset-normalizer==2.0.12
colorama==0.4.5
colorful==0.5.4
commonmark==0.9.1
dapiclient==0.0.7
derpconf==0.8.3
distlib==0.3.2
docutils==0.18.1
envtpl==0.7.2
filelock==3.0.12
grpcio==1.45.0rc1
idna==3.3
importlib-metadata==4.11.4
iniconfig==1.1.1
Jinja2==3.1.2
keyring==23.5.1
libthumbor==2.0.2
MarkupSafe==2.1.1
mock==4.0.3
packaging==21.3
pep517==0.12.0
Pillow==9.0.1
pipenv==2021.5.29
platformdirs==2.2.0
pluggy==1.0.0
preggy==1.4.4
protobuf==3.17.3
py==1.11.0
Pygments==2.9.0
pyparsing==2.4.7
pytest==7.1.2
python-dateutil==2.8.2
pytz==2019.3
readme-renderer==35.0
requests==2.27.1
requests-toolbelt==0.9.1
rfc3986==1.5.0
rich==12.4.4
six==1.16.0
socketfromfd==0.2.0
SSIM-PIL==1.0.13
statsd==3.3.0
thumbor==7.0.12
thumbor-plugins-gifv==0.1.2
tomli==1.2.1
tornado==6.1
tqdm==4.62.1
twine==4.0.1
Unidecode==1.2.0
urllib3==1.26.6
virtualenv==20.7.2
virtualenv-clone==0.5.6
webcolors==1.11.1
webencodings==0.5.1
zipp==3.5.0
